{% extends 'base.html' %}
{% load static %}

{% block title %}
    Página Inicial
{% endblock %}

{% block content %}
    <main class="news-container">
        {% for news in all_news %}
            <a class="news-card" href="{% url 'news-details-page' news.id %}">
                <h2 class="news-title">{{ news.title }}</h2>
                <span class="news-date">{{ news.created_at|date:"d/m/Y" }}</span>
                {% if news.image %}
                    <img src="{% static news.image.url %}" alt="{{ news.title }}">
                {% endif %}
            </a>
        {% endfor %}
    </main>
{% endblock %}